* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 400px;
  font-size: 14px;
}

.activity-container {
	max-height: 184px;
	overflow-y: auto;
	position: relative;
	width: calc(100vw - 24px);
}
